includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    strictRules:
        allRules: true
    level: 6
    tmpDir: /tmp/phpstan
    paths:
        - .
    excludePaths:
        analyseAndScan:
            - vendor/
            - var/
            - ecs.php
    reportUnmatchedIgnoredErrors: false
    polluteScopeWithLoopInitialAssignments: false
    polluteScopeWithAlwaysIterableForeach: false
    checkAlwaysTrueCheckTypeFunctionCall: false
    checkAlwaysTrueInstanceof: true
    checkAlwaysTrueStrictComparison: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    reportMaybesInMethodSignatures: false
    reportStaticMethodSignatures: true
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: true
    checkInternalClassCaseSensitivity: true
    # т.к. это библиотека, мы не уверены в типах входных значений
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - path: ecs.php
          message: '#Class PhpCsFixer\\.+ not found#'
